@media only screen and (max-width: 1199px) {
  .center-wr {
    width: 96%;
  }
  .service-card {
    width: 44%;
  }
  .menu ul {
    gap: 67px;
}
} /* upto 1024 */

@media only screen and (max-width: 1023px) {
    .menu ul {
        gap: 56px;
    }
} /** 980 **/

@media only screen and (max-width: 979px) {
  .mobile-menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .mobile-menu-item {
    position: absolute;
    background: #fff;
    z-index: 25;
    width: 42%;
    top: 34%;
    right: 0;
    padding: 36px 50px;
  }
  .mobile-menu-item ul {
    list-style-type: none;
  }
  .mobile-menu-item ul li {
    /* padding: 10px 20px; */
    margin-bottom: 25px;
  }
  .mobile-menu-item ul li a {
    color: #000;
  }
} /** 768 **/

@media only screen and (max-width: 767px) {
    .mobile-menu-item {
        top: 38%;
    }
} /** 650 **/

@media only screen and (max-width: 649px) {
    .logo {
        width: 50%;
    }
    .mobile-menu-item {
        top: 45%;
    }
} /** 480 **/

@media only screen and (max-width: 479px) {
    .service-card {
        width: 100%;
    }
    .mobile-menu-item {
        top: 52%;
    }
} /** 320 **/

@media only screen and (max-width: 320px) {
}
